{% extends 'layout.html.twig' %}

{% block title 'Partidos - Torneo7' %}

{% block content %}
    <h2 class="well">Eliminar partido</h2>
    <div class="panel panel-warning">
        <div class="panel-heading">¡ATENCIÓN!</div>
        <div class="panel-body">
            El partido entre {{ partido.equipoLocal }} y {{ partido.equipoVisitante }}
            celebrado el día {{ partido.fechaCelebracion|date('d/m/Y') }} será eliminado.
            La operación no se puede deshacer.
        </div>
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger"><i class="fa fa-warning"></i> Confirmar eliminación del partido</button>
        <a href="{{ path('partido_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado</a>
    </form>
{% endblock %}
